<!DOCTYPE html>
<html>
<head>
    <title>Checkers | {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kube.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Checkers</a>
        <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('play') }}">Play</a>
                </li>
        </ul>

    </nav>

    <main role="main"><br><br><br>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <h4><b>{{ message }}</b></h4>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}

     </main>
              

     <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; Cassim 2019</span>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>